<% layout('layouts/general-plate') %> 
<div class="container">
    <h1>All Campgrounds</h1>
    <div class="all-camp-cards">
        <% for (let campground of campgrounds) {%> 
        <!-- <li><a href="/campground/<%= campground._id %>"><%= campground.title %> </li></a> -->
        <div class="card one-camp-card" style="width: 18rem;">
            <img src="<%= campground.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= campground.title %></h5>
              <p class="card-text"><%= campground.description %> </p>
              <a href="/campground/<%= campground._id %> " class="btn btn-primary">Details</a>
            </div>
        </div>
        <% } %> 
    </div>
</div>

